.TReg {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 34px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
    color: #ffffff; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del título */
    padding-top: 50px;
    padding-left: 10px;
  }
  /* Estilo general del contenedor */
  form {
    max-width: 300px; /* Limita el ancho del formulario */
    margin:  auto; /* Centra el formulario vertical y horizontalmente */
    padding: 10px; /* Agrega espacio interno */
    padding-left: 60px;
    padding-right: 60px;
    background-color: #491cc2; /* Fondo ligero */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del formulario */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center; /* Centra el texto horizontalmente */
  }
  button[mat-flat-button]{
    background-color: #8a62f7;
    color: #ffffff;
  }
  /* Efecto hover en el botón */
  button[mat-flat-button]:hover {
    background-color: #6027ff;
  }
  .boton{
    padding-left: 29%;
  }
  .example-full-width {
    width: 280px; /* Ajusta este valor según lo que necesites */
  }
  .fec{
    color: white;
  }