<div class="container">
  <div class="Titulo"><h1  class="Titulos"> Preguntas </h1></div>
    <div class="contenedor-items">
        <div class="item" *ngFor="let element of dataSource.data"> <!-- Accede a la propiedad data -->
            <div class="item-contenido">
                <h2>{{element.pregunta}}</h2>
                <p><strong>Id:</strong> {{element.id_pregunta}}</p>
                <p><strong>Puntos:</strong> {{element.puntos}}</p>
                <p><strong>Respuesta:</strong> {{element.respuesta}}</p> 
                <p><strong>Respuesta:</strong> {{element.cuestionario.nombres}}</p> 
                <button mat-raised-button [routerLink]="['ediciones',element.id_pregunta]">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button (click)='eliminar(element.id_pregunta)'>
                  <mat-icon style="color: white;">delete_outline</mat-icon>
                </button>
            </div> 
        </div>
    </div>
</div>