<div class="contienetodo">
    <div class="todo">
        <div class="Titulo"><h1  class="Titulos"> Preguntas </h1></div>
        <div class="contenedor-items">
            <div class="item" *ngFor="let element of dataSource.data"> 
                <div class="item-contenido">
                    <p><strong>Pregunta:</strong> {{element.pregunta}}</p>
                    <p><strong>Puntos:</strong> {{element.puntos}}</p>
                    <p><strong>Cuestionario:</strong> {{element.cuestionario.nombres}}</p>

                    <!-- Botón para redirigir a la página de responder pregunta-->
                    <button routerLink="/resolucion" *ngIf="isclient()" class="btonstart" mat-flat-button (click)="setIdpregunta(element.id_pregunta)" (click)="comenzarPregunta(element.id_pregunta)">Comenzar Pregunta</button>
                </div>
            </div>
        </div>
    </div>
</div>
