/* Contenedor principal centrado */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1f0058; /* Fondo claro */
}

/* Imagen del logo */
.container img {
  margin-bottom: 20px;
  width: 100px; /* Ajusta el tamaño según lo necesario */
  height: 100px; /* Ajusta el tamaño según lo necesario */
  border-radius: 30%; /* Hace la imagen circular */
  
}

/* Encabezado */
.container h2 {
  font-size: 24px;
  font-weight: 600;
  color: #dfdfdf;
  margin-bottom: 20px;
}

/* Campos de entrada */
mat-form-field.example-full-width {
  width: 100%;
  max-width: 300px;
}

mat-form-field input {
  padding: 10px;
  font-size: 16px;
}

/* Botón de ingresar */
.custom-button {
  width: 100%;
  max-width: 300px;
  background-color: #6c23f1; /* Color azul */
  color: #fffffffb;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 0;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #713eff; /* Azul más oscuro al pasar el mouse */
}
