<div class="todo">
    <div class="Titulo"><h1  class="Titulos"> Cursos</h1></div>
    <div class="contenedor-items">
        <div class="item" *ngFor="let element of dataSource.data"> 
            <img src="{{element.imagen}}" alt="Curso Imagen" class="item-imagen">
            <div class="item-contenido">
                <h2>{{element.nombre}}</h2>
                <p><strong>Categoría:</strong> {{element.categoria}}</p>
                <p><strong>Descripción:</strong> {{element.descripcion}}</p>
            </div>
        </div>
    </div>
</div>

