 
  /* Contenedor de imagen */
  .image-container {
    position: relative;
    width: 100%;
    z-index: 1; /* Coloca la imagen debajo de la barra */
  }
  
  /* Imagen */
  .image-container img {
    width: 100%;
  }
  
  /* Texto superpuesto */
  .text-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #34008C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    pointer-events: none;
    width: 100%;
  }
  .h1img{
    font-size: 250%;
    font-weight: bold; 
    font-family: 'Inria Sans', sans-serif;
  }
 
  