<div class="todo-recompensa">
  <div class="Titulo"><h1  class="Titulos"> Detalle Canje</h1></div>
  <div class="contenedor-items">
      <div class="item" *ngFor="let element of dataSource.data"> <!-- Accede a la propiedad data -->
          <img src="{{element.recompensa.imagen}}" alt="Recompensas Imagen" class="item-imagen">
          <div class="item-contenido">
              <h2>{{element.recompensa.nombre}}</h2>
              <p><strong>Descripcion:</strong> {{element.recompensa.descripcion}}</p>
              <p><strong>Cantidad Canjeada:</strong> {{element.cantidadProductoCanje}}</p>
              <p><strong>Empresa:</strong> {{element.recompensa.asociado.empresa}}</p>
              <p><strong>Puntos:</strong> {{element.recompensa.puntos}}</p>
          </div> 
      </div>
  </div>
</div>