/* Estilo general para el contenedor principal */
.todo {
  max-width: 900px;
  margin-left: 25%;
  background-color: #f5f5f5;
  border-radius: 10px;
  border-radius: 8px;
  box-shadow: 3px 4px 20px rgb(227, 206, 253);
}
.contienetodo{
  padding-top: 80px;
}
/* Estilo del título */
.Titulo h1 {
  text-align: center;
  color: #360069;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Contenedor para los items */
.contenedor-items {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los elementos */
  
}

/* Estilo de cada item */
.item {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item:hover {
  transform: scale(1.02); /* Efecto de escala al pasar el mouse */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo del contenido del item */
.item-contenido p {
  margin: 8px 0;
  font-size: 16px;
  color: #555;
}

/* Estilo para el botón Detalle Canje */
button[mat-flat-button] {
  background-color: #3c01c7b2;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[mat-flat-button]:hover {
  background-color: #3c01c7b2; /* Cambia de color al pasar el mouse */
}

/* Estilo para mejorar el contraste del texto */
.item-contenido strong {
  color: #333;
}
/* Estilo para el mensaje cuando no hay canjes */
.no-canjes {
  text-align: center;
  font-size: 18px;
  color: #888;
  padding: 20px;
  background-color: #fff3e0;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
