<section class="seccion-header">
    <h1>StudyWin</h1>
    <img class="logo" src="images/StudywinLogo.png" alt="Cram All Day" />
    <h2>Gana puntos rindiendo tus evaluaciones para intercambiarlos por productos tangibles de nuestra tienda online
    </h2>
    <a class="btnregistrate" href="/usuario/nuevo">Regístrate</a>
  </section>

<main>

  <section class="seccion-empezar">

    <div class="container-empezar">

      <img class="imagen-izquierda" src="images/recompensas.png" alt="Recompensas" />

      <div class="centrar-texto">
        <p class="texto-medio">Encuentra material de estudio actualizado y diviértete compitiendo para ganar puntos
          canjeables</p>
        <button type="submit" class="boton-naranja" routerLink="/login">Empezar</button>
      </div>

      <img class="imagen-derecha" src="images/materialdestudio.png" alt="Material_De_Estudio" />

    </div>
  </section>

  <section class="segmento-objetivo">
    <div class="container-objetivo">
      <div class="fondo_img">
        <img class="imagen" src="images/estudiante.png" />
        <span>Estudiante</span>
      </div>

      

      <div class="centrar-texto-segmento">
        <p class="texto-medio">DESCUBRE TUS BENEFICIOS SEGUN TU DESEMPEÑO</p>
        <a class="boton-naranja" href="/readmore" target="_parent">Leer mas...</a>
      </div>

    </div>

  </section>

  <section class="universidades">
    <div class="contenedor">
      <h2 class="titulo2">Conoce las universidades que confían en nosotros</h2>
      <div class="imagenes-universidad">
        <img src="images/uch1.png" width="=350" height="150" alt="uch" />
        <img src="images/pucp1.png" width="=270" height="100" alt="pucp" />
        <img src="images/esan1.png" width="=360" height="230" alt="esan" />
        <img src="images/upc1.png" width="=110" height="120" alt="upc" />
      </div>
    </div>
  </section>

  <section class="ultima-parte">
    <p class="texto-descarga">Escanea el código para descargar gratis</p>

    <div class="descarga-apps">
        <img src="images/Play.png" alt="Disponible en Google Play" width="100" height="50" />
        <img src="images/Qr.png" alt="Código QR" width="150" height="60" />
        <img src="images/Appstore.png" alt="Disponible en App Store" width="100" height="50" />
    </div>

    <div class="piepagina">
        <p class="pieseguridad">Seguridad</p>
        <p class="pieterminos">Términos y Condiciones</p>
        <p class="piederechos">Todos los derechos reservados</p>
        <img src="images/StudywinLogo.png" alt="Studywin Logo" width="80" height="auto" />
    </div>
</section>


</main>
