<body>
    
    <main>
      <section class="seccion-video">
          <div class="video">
              <p class="texto-video">Se parte de la familia Cram All Day</p>

              <iframe width="560" height="315" src="https://www.youtube.com/embed/9SNeNGM-wx4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
      </section>
      <section class="seccion-estudiante">
          <div class="centrar-estudiante">
              <p class="texto-estudiante">Por ser estudiante</p>
              <img class="imagen-beneficio" src="images/estudiante.png"/>
  

          </div>
          <div class="estudiante">
              <div class="fondo_estudiante">
                  <span>Requisitos</span>
                  <ul>
                      <li class="colorbal">Estudiar en una universidad del Perú</li>
                      <li class="colorbal">Ganas de aprender compitiendo</li>
                      <li class="colorbal">Tener la aplicación descargada</li>
                      <li class="colorbal">Ser competitivo en las prácticas</li>
                    </ul>
                </div>
                <div class="fondo_estudiante">
                  <span>Beneficios</span>
                      <ul>
                      <li class="colorbal">Amplio material de estudio</li>
                      <li class="colorbal">Canje de puntos por productos</li>
                      <li class="colorbal">Solucionario de exámenes y prácticas</li>
                      <li class="colorbal">Visualización de tus notas de los cursos</li>
                    </ul>
                </div>
              
                
          </div>
      </section>

      <section class="seccion-profesor">
          <div class="centrar-estudiante">
              <p class="texto-estudiante">Por ser profesor</p>
              <img class="imagen-beneficio" src="images/profesor.png"/>
  

          </div>
          <div class="estudiante">
              <div class="fondo_estudiante">
                  <span>Requisitos</span>
                  <ul>
                      <li class="colorbal">Poseer titulo de profesional grado de Doctor</li>
                      <li class="colorbal">Trabajar en una universidad peruana</li>
                      <li class="colorbal">Tener la aplicación descargada</li>
                      <li class="colorbal">Tener dominio de los temas</li>
                    </ul>
                </div>
                <div class="fondo_estudiante">
                  <span>Beneficios</span>
                      <ul>
                      <li class="colorbal">Comunicacion con el estudiante</li>
                      <li class="colorbal">Podra subir material de apoyo</li>
                      <li class="colorbal">Podra realizar retroalimentacion</li>
                      <li class="colorbal">Programar practicas y examenes</li>
                    </ul>
                </div>
              
                
          </div>
      </section>

      <section class="ultima-parte">
        <p class="texto-descarga">Escanea el código para descargar gratis</p>
    
        <div class="descarga-apps">
            <img src="images/Play.png" alt="Disponible en Google Play" width="100" height="50" />
            <img src="images/Qr.png" alt="Código QR" width="150" height="60" />
            <img src="images/Appstore.png" alt="Disponible en App Store" width="100" height="50" />
        </div>
    
        <div class="piepagina">
            <p class="pieseguridad">Seguridad</p>
            <p class="pieterminos">Términos y Condiciones</p>
            <p class="piederechos">Todos los derechos reservados</p>
            <img src="images/StudywinLogo.png" alt="Studywin Logo" width="80" height="auto" />
        </div>
    </section>

    </main>
  </body>
