/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky; /* Hace que la barra sea "pegajosa" al hacer scroll */
  top: 0; /* Se adhiere en la parte superior cuando llega a este punto */
  align-items: center;
  background-color:   #34048c;
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo y texto de marca */
.navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
}

.logo {
  width: 55px;
  height: 50px;
  margin-right: 5px;
}

/* Menú de navegación */
.navbar-menu {
  display: flex;
  gap: 30px;
  margin: 0;
  margin: 0; /* Elimina el margen */
  padding: 0; /* Elimina el padding si es necesario */
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar-menu a:hover {
  color: #cd62ff;
}

/* Perfil de usuario */
.navbar-profile {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 15px;
  }
}
.sign-in-link {
  color: white;
  margin-right: 10px;
  text-decoration: none;
  
}

.sign-in-link:hover {
  text-decoration: none;
}
.navbar-content {
  display: flex; /* Mantiene el contenido en fila */
  align-items: center; /* Alinea verticalmente */
  gap: 40px; /* Ajusta este valor según sea necesario */
}
