<mat-toolbar  >
    <mat-icon >menu</mat-icon>
    <div>
    <button mat-button [matMenuTriggerFor]="menuEjemplo"  >Menu</button>
    </div>
   </mat-toolbar>
   
   <mat-menu #menuEjemplo="matMenu">
    <button mat-menu-item routerLink="/usuario" >Listar Usuario</button>
    <button mat-menu-item routerLink="/usuario/nuevo">Registrar Usuario</button>
    <button mat-menu-item routerLink="/canje" >Listar Canje</button>
    <button mat-menu-item routerLink="/canje/nuevo">Registrar Canje</button>
    <button mat-menu-item routerLink="/curso" >Listar Curso</button>
    <button mat-menu-item routerLink="/curso/nuevo">Registrar Curso</button>
   </mat-menu>
   <router-outlet></router-outlet>