<nav class="navbar" *ngIf="verificar() || !isclient() ||!isDeveloper() ">
  <div class="navbar-content">
    <div class="navbar-brand">
      <img src="images/StudywinLogo.png" alt="StudyWin Logo" class="logo">
      <li class="logtitle"><a class="logtitle" routerLink="/home">StudyWin</a></li>
    </div>

    <ul class="navbar-menu">
      <li *ngIf="isclient() "> <a routerLink="/curso">Cursos</a></li>
      <li *ngIf="isclient() "> <a routerLink="/usuarioxcurso/miscursos">Mi Progreso</a></li>
      <li *ngIf="isclient() "><a routerLink="/recompensas" (click)="setBolean()">Recompensas</a></li>
      <li *ngIf="isclient() "><a routerLink="/asociado">Asociados</a></li>
      <li *ngIf="isclient() "><a routerLink="/canje-client">Canjes</a></li>
      <button mat-button [matMenuTriggerFor]="menuCursos" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>school</mat-icon>Cursos
      </button>
      <button mat-button [matMenuTriggerFor]="menuUsuarios" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>people</mat-icon>Usuarios
      </button>
      <button mat-button [matMenuTriggerFor]="menuCanjes" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>swap_horiz</mat-icon>Canjes
      </button>
      <button mat-button [matMenuTriggerFor]="menuUsuariosXCursos" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>group_work</mat-icon>UsuariosXCursos
      </button>
      <button mat-button [matMenuTriggerFor]="menuDetalleCanje" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>description</mat-icon>DetalleCanje
      </button>
      <button mat-button [matMenuTriggerFor]="menuAsociado" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>handshake</mat-icon>Asociados
      </button>
      <button mat-button [matMenuTriggerFor]="menuTipoRecompensa" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>category</mat-icon>Tipo de Recompensas
      </button>
      <button mat-button [matMenuTriggerFor]="menuRecompensa" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>redeem</mat-icon>Recompensas
      </button>
      <button mat-button [matMenuTriggerFor]="menuCuestionario" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>quiz</mat-icon>Cuestionarios
      </button>
      <button mat-button [matMenuTriggerFor]="menuPregunta" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>help_outline</mat-icon>Preguntas
      </button>
      <button mat-button [matMenuTriggerFor]="menuRol" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>verified_user</mat-icon>Rol
      </button>
      <button mat-button [matMenuTriggerFor]="menuReportes" style="color: white" *ngIf="isDeveloper()">
        <mat-icon>verified_user</mat-icon>Reportes
      </button>
    </ul>
  </div>

  <div class="navbar-profile">
    <a routerLink="/rol" class="invisible-button">as</a>
    <a *ngIf="!isDeveloper() && !isclient() " routerLink="/usuario/nuevo" class="sign-in-link">Sign
      up</a>
    <a *ngIf="!isDeveloper() && !isclient() " routerLink="/login" class="sign-in-link">Sign in</a>
    <button (click)="shownombre()" *ngIf="verificar()" mat-button [matMenuTriggerFor]="menuPerfil"
      style="color: white;">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

</nav>
<!--Vista dev-->
<!--Usuarios dev-->
<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuario"><mat-icon>playlist_add_check</mat-icon>
    Listar</button>
  <button mat-menu-item routerLink="/usuario/nuevo"><mat-icon>playlist_add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuCursos="matMenu">
  <button mat-menu-item routerLink="/cursoadmin"><mat-icon>playlist_add_check</mat-icon>
    Listar</button>
  <button mat-menu-item routerLink="/cursoadmin/nuevo"><mat-icon>playlist_add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuCanjes="matMenu">
  <button mat-menu-item routerLink="/canje"><mat-icon>playlist_add_check</mat-icon>
    Listar</button>
  <button mat-menu-item routerLink="/canje/nuevo"><mat-icon>playlist_add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuUsuariosXCursos="matMenu">
  <button mat-menu-item routerLink="/usuarioxcurso"><mat-icon>playlist_add_check</mat-icon>
    Listar</button>
  <button mat-menu-item routerLink="/usuarioxcurso/nuevo"><mat-icon>playlist_add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuDetalleCanje="matMenu">
  <button mat-menu-item routerLink="/detalle-canje"><mat-icon>playlist_add_check</mat-icon>
    Listar</button>
  <button mat-menu-item routerLink="/detalle-canje/nuevo"><mat-icon>playlist_add</mat-icon>Registrar</button>
</mat-menu>

<mat-menu #menuAsociado="matMenu">
  <button mat-menu-item routerLink="/asociadoadmin"><mat-icon>playlist_add_check</mat-icon> Listar </button>
  <button mat-menu-item routerLink="/asociadoadmin/nuevo"><mat-icon>playlist_add</mat-icon> Registrar </button>
</mat-menu>

<mat-menu #menuTipoRecompensa="matMenu">
  <button mat-menu-item routerLink="/tiporecompensaadmin"><mat-icon>playlist_add_check</mat-icon> Listar </button>
  <button mat-menu-item routerLink="/tiporecompensaadmin/nuevo"><mat-icon>playlist_add</mat-icon> Registrar </button>
</mat-menu>

<mat-menu #menuRecompensa="matMenu">
  <button mat-menu-item routerLink="/recompensaadmin"><mat-icon>playlist_add_check</mat-icon> Listar </button>
  <button mat-menu-item routerLink="/recompensaadmin/nuevo"><mat-icon>playlist_add</mat-icon> Registrar </button>
</mat-menu>

<mat-menu #menuCuestionario="matMenu">
  <button mat-menu-item routerLink="/cuestionarioacademicoadmin"><mat-icon>playlist_add_check</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/cuestionarioacademicoadmin/nuevo"><mat-icon>playlist_add</mat-icon> Registrar
  </button>
</mat-menu>

<mat-menu #menuPregunta="matMenu">
  <button mat-menu-item routerLink="/preguntaadmin"><mat-icon>playlist_add_check</mat-icon> Listar </button>
  <button mat-menu-item routerLink="/preguntaadmin/nuevo"><mat-icon>playlist_add</mat-icon> Registrar </button>
</mat-menu>
<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/cantuserxIE"><mat-icon>supervised_user_circle</mat-icon> Cantidad de Usuarios por IE </button>
  <button mat-menu-item routerLink="/cantcursosxCat"><mat-icon> pie_chart</mat-icon> Cantidad de Cursos por Categoría </button>
  <button mat-menu-item routerLink="/recompensaspopulares"><mat-icon>shopping_cart</mat-icon> Recompensas más populares </button>
</mat-menu>
<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/rol"><mat-icon>playlist_add</mat-icon> Registrar</button>
</mat-menu>

<mat-menu #menuPerfil="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_box</mat-icon> Mi perfil
  </button>
  <button mat-menu-item>
    Usuario: <span>{{ nombre }}</span>
  </button>
  <button mat-menu-item>
    Rol: <span>{{ role }}</span>
  </button>
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon> Cerrar sesión
  </button>
</mat-menu>
<!--Vista cliente-->
<div class="main-content">
  <router-outlet></router-outlet>
</div>