  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-brand">
        <img src="images/StudywinLogo.png" alt="StudyWin Logo" class="logo">
        
        <li class="logtitle" ><a class="logtitle" routerLink="/">StudyWin</a></li>
      </div>
      <ul class="navbar-menu">
        <li><a routerLink="/curso">Curso</a></li>
        <li><a routerLink="/recompensas">Recompensas</a><li></li>
        <li><a routerLink="/asociado">Asociados</a></li>
        <li><a routerLink="/progreso">Mi Progreso</a></li>
        <li><a routerLink="/canje">Canje</a></li>
        <li><a routerLink="/cuestionario">Cuestionarios</a></li>
        <li><a routerLink="/pregunta">Preguntas</a></li>
      </ul>
    </div>
    <div class="navbar-profile">
      <a routerLink="/usuario/nuevo" class="sign-in-link">Sign up</a>
      <a href="/usuario"><mat-icon style="color: white;">account_circle</mat-icon></a>
    </div>
  </nav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>



