<div class="todo">
  <div class="Titulo"><h1  class="Titulos"> Asociados </h1></div>
  <div class="contenedor-items">
      <div class="item" *ngFor="let element of dataSource.data"> <!-- Accede a la propiedad data -->
          <img src="{{element.imagen}}" alt="Asociados Imagen" class="item-imagen">
          <div class="item-contenido">
              <h2>{{element.empresa}}</h2>
              <p><strong>Descripción:</strong> {{element.descripcion}}</p>
              <p><strong>RUC:</strong> {{element.ruc}}</p>
          </div>
          <button *ngIf="isclient()" class="btonstart" mat-flat-button (click)="setIdasociado(element.id_asociado)">Ver Recompensas</button>
      </div>
  </div>
</div>